{{ define "main" }}
<main style="width: 100%; max-width: 900px; margin: auto;">

  {{ if .Site.Params.profileMode.enabled }}
    {{/* Renders the PaperMod profile block */}}
    {{ partial "index_profile.html" . }}
  {{ end }}

  {{ .Content }}

  {{ range .Paginator.Pages }}
    {{ .Render "summary" }}
{{ end }}

{{ partial "pagination.html" . }}
<section style="margin-top: 0; display: flex; flex-direction: column; align-items: center; font-size: 0.95rem;">
    <h2 style="text-align: center;">Useful Links</h2>
    <div>
            <table style="border-collapse: separate; border-spacing: 0 0.5rem; margin: auto;">
                    <tbody>
                            <tr>
                                    <td><a href="https://overleaf.com" target="_blank">Overleaf</a></td>
                                    <td style="padding-left: 1.5rem;">Collaborative LaTeX editor</td>
                            </tr>
                            <tr>
                                    <td><a href="https://desmos.com" target="_blank">Desmos</a></td>
                                    <td style="padding-left: 1.5rem;">Online graphing calculator</td>
                            </tr>
                            <tr>
                                    <td><a href="https://chat.openai.com" target="_blank">ChatGPT</a></td>
                                    <td style="padding-left: 1.5rem;">AI-powered chat assistant</td>
                            </tr>
                            <tr>
                                    <td><a href="https://github.com/engkad" target="_blank">My GitHub</a></td>
                                    <td style="padding-left: 1.5rem;">My code repositories</td>
                            </tr>
                            <tr>
                                    <td><a href="https://www.wolframalpha.com/" target="_blank">WolframAlpha</a></td>
                                    <td style="padding-left: 1.5rem;">Computational knowledge engine</td>
                            </tr>
                    </tbody>
            </table>
    </div>
</section>

</main>
{{ end }}
